<!-- This is the main page of the app. It contains a card with a form inside that allows the user to enter a details for a task. These details are sent to the controller through ng-model, when the add task button is pressed the details are added to the object array and thus displayed in the list of tasks. The show tasks checkbox uses ng-show, when selected it will show the list of tasks. Each item in the list has a href allowing the user to press on it and go inside that tasks state.
The items also have a remove animation and a ion-option-button, this allows the users to swipe left to open the delete button and click the delete button to splice that current item. The remove animate, animates the delete and sends the task to the left.
--> 
<ion-view view-title="Odot">
    <ion-nav-bar class="header">
    <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="background">

        <div class="card">
            <div class="header item item-divider">Add Task</div>
            <div class="item-text-wrap">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="data.taskName" placeholder="Task Name">
                    </label>
                    <label class="item item-input">
                        <input type="text" ng-model="data.taskDetail" placeholder="Task Details" >
                    </label>
                </div>      
            </div>  
        </div>
        <button class="addTask button button-block" ng-click="addTask()">Add Task</button>
        

        <ion-checkbox class="header checkbox-assertive" ng-model="show">Show Tasks</ion-checkbox>
        <ion-list ng-show="show"> 
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="task in tasks" type="item-text-wrap" href="#/tab/task/{{task.id}}">
                <h2>{{task.name}}</h2>
                <p>{{task.taskDetail}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(task)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
