<ion-view view-title="{{task.name}}">
    <ion-nav-bar class="header">
    <ion-nav-back-button class="button-stable"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="background ">

        <div class="card">
            <div class="header item item-divider">Task Details</div>
            <div class="item item-text-wrap">{{task.taskDetail}}</div>
            <div class="header item item-divider">Added Date</div>
            <div class="item item-text-wrap">{{task.added | date: 'yyyy-MM-dd'}} at {{task.added | date: 'HH:mm'}}</div>
            <div class="header item item-divider">
            <ion-checkbox class="header checkbox-assertive" ng-model="hideEdit">Edit Task</ion-checkbox>
            </div>
            <div class="item item-text-wrap" ng-show="hideEdit">
                <div class="list">
                    <label class="item item-input">
                    <input type="text" ng-model="data.taskName" placeholder="{{task.name}}">
                    </label>
                    <label class="item item-input">
                    <input type="text" ng-model="data.taskDetail" placeholder="{{task.taskDetail}}" >
                    </label>
                </div>
                <button class="addTask button button-block" ng-click="editTask()">Edit</button>
            </div>
        </div>


    </ion-content>
</ion-view>
