/* I used CSS to change the background and font colors of certain items. Found this was the easiest way. addTask changes the buttons colors, background changes the ionic-content color and header changes the header colors */
.addTask{
    background-color: #144955;
    color: white;
}
.background{
    background-color: #F14C38;
}
.header{
    background-color: #144955;
    color: white;
    font-weight: 500;
}
