/* Empty. Add your own CSS if you like */
.addTask{
    background-color:  #00e6b8;
    color: black;
}
.background{
    background-color: white;
}
.header{
    background-color: #00e6b8;
    color: black;
}